.Lexicon h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.Lexicon section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
  font-family: 'Open Sans', sans-serif;
}

.Lexicon input {
  width: 100%;
  border-radius: 7px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
  font-family: 'Open Sans', sans-serif;
}

.Lexicon .hint {
  font-size: 11px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

 a{
    color:rgb(255, 255, 255);
}

