.Synonyms {
  margin: 2x 0 0;
  padding: 0;
}

.Synonyms li {
  font-size: 14px;
  display: inline-block;
  padding-right: 5px;
  line-height: 1;
 background-color: rgb(39, 36, 36); 
 color:whitesmoke;
 margin-bottom: 5px;
 font-family: 'Open Sans', sans-serif;
}